In [2]:
def display():
    print("Hello")
    print(" World")
print("Welcome")

Welcome

In [3]:
display()

Hello
 World

In [4]:
def greet(name):
    print("Hello " + name)
    print("Welcome to Python3 function class")

In [5]:
greet("Deeksha")

Hello Deeksha
Welcome to Python3 function class

In [9]:
print(4//5, 4%5)
print(5//5, 5%5)

0 4
1 0

In [10]:
def square(val):
    print("Square of ", val)    
    return val*val
print(square(5))

Square of  5
25

In [11]:
print(square(6))

Square of  6
36

In [22]:
def factorial(num):
    if (num == 1 or num == 0) :
        return 1
    res = num * factorial(num-1)
    return res

In [23]:
print(factorial(5))

120

In [25]:
print(factorial(0))

1

In [26]:
def displayFactorial(num):
    print(num)
    if (num == 1):
        return 1
    res = print(num, factorial(num-1))
    return res

In [27]:
displayFactorial(10)

10
10 362880

In [28]:
displayFactorial(5)

5
5 24

In [30]:
while (True):
    line = input("> ")
    print(line)
    if (line == 'done'):
        break

> Hello
Hello
> Sathya
Sathya
> Deeksha
Deeksha
> Sai
Sai
> Sahasra
Sahasra
> Done
Done
> done
done

In [31]:
for i in [1,2,2,3,2,1]:
    print(i)

1
2
2
3
2
1

In [34]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [36]:
1 not in [1,2,3]

False

In [37]:
5 not in [1,2,3]

True

In [38]:
# Iterating using for
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
numbers = [3,41,12,9,74,15]
maxNumber = 0
for i in numbers:
    if (i > maxNumber):
        maxNumber = i
print(maxNumber)

74

In [40]:
a = 'Sathya'

In [41]:
 interest = "6.90"

In [42]:
print(interest)

6.90

In [43]:
print(interest+1)

TypeError: can only concatenate str (not "int") to str

In [44]:
interest = '6.90'

In [45]:
print(interest+1)

TypeError: can only concatenate str (not "int") to str

In [46]:
interest = 6.90

In [47]:
print(interest+1)

7.9